In [29]:
import pandas as pd

In [30]:
hist_fuel_costs = pd.read_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/elecsim/data/fuel_data/Fuel costs/historical_fuel_costs/historical_fuel_costs.csv')

In [31]:
hist_fuel_costs

,Fuel,Units,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Coal,pence/kWh,0.635320,0.625918,0.660043,0.611,0.528,0.500,0.507,0.474,...,0.900881,0.753405,0.869275,1.109590,0.911367,0.842376,0.779076,0.669264,0.746526,1.015944
1,Oil,pence/kWh,0.445714,0.471796,0.481295,0.472,0.526,0.684,0.709,0.746,...,2.372544,2.220399,3.487284,4.417661,4.798503,4.488662,4.053018,2.702637,2.393104,3.082835
2,Gas,pence/kWh,0.562000,0.607000,0.595000,0.556,0.588,0.584,0.592,0.593,...,1.481000,1.135000,1.307000,1.711000,2.135488,2.299286,1.889736,1.585520,1.275873,1.524149

In [32]:
# Convert to £/MWh
hist_fuel_costs.loc[:,'1990':'2017'] = hist_fuel_costs.loc[:,'1990':'2017']/100
hist_fuel_costs

,Fuel,Units,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Coal,pence/kWh,0.006353,0.006259,0.006600,0.00611,0.00528,0.00500,0.00507,0.00474,...,0.009009,0.007534,0.008693,0.011096,0.009114,0.008424,0.007791,0.006693,0.007465,0.010159
1,Oil,pence/kWh,0.004457,0.004718,0.004813,0.00472,0.00526,0.00684,0.00709,0.00746,...,0.023725,0.022204,0.034873,0.044177,0.047985,0.044887,0.040530,0.027026,0.023931,0.030828
2,Gas,pence/kWh,0.005620,0.006070,0.005950,0.00556,0.00588,0.00584,0.00592,0.00593,...,0.014810,0.011350,0.013070,0.017110,0.021355,0.022993,0.018897,0.015855,0.012759,0.015241

In [33]:
hist_fuel_costs.loc[:,'Units'] = 'GBP/kWh'
hist_fuel_costs

,Fuel,Units,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Coal,GBP/kWh,0.006353,0.006259,0.006600,0.00611,0.00528,0.00500,0.00507,0.00474,...,0.009009,0.007534,0.008693,0.011096,0.009114,0.008424,0.007791,0.006693,0.007465,0.010159
1,Oil,GBP/kWh,0.004457,0.004718,0.004813,0.00472,0.00526,0.00684,0.00709,0.00746,...,0.023725,0.022204,0.034873,0.044177,0.047985,0.044887,0.040530,0.027026,0.023931,0.030828
2,Gas,GBP/kWh,0.005620,0.006070,0.005950,0.00556,0.00588,0.00584,0.00592,0.00593,...,0.014810,0.011350,0.013070,0.017110,0.021355,0.022993,0.018897,0.015855,0.012759,0.015241

In [34]:
hist_fuel_costs.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/elecsim/data/fuel_data/Fuel costs/historical_fuel_costs/historical_fuel_costs_converted.csv')